body, html {
  height:100%;
}
body {
  padding-top:3.8em;
}
.page {
  padding:2em;
  padding-top:.5em;
}
.tag {
  display:inline-block;
  padding:0.2em;
}

.container {
  padding:0.2em;
}

.alert {
  margin-left: 2em;
  margin-right: 2em;
}

.navbar-right {
  padding-right:1.5em;
}

.nav-submenu {
  margin-left:5.5em;
}

nav-submenu li a {
  background-color: #fff;
}
.nav-submenu li a:hover {
  color: #777;
  background-color: #fff;
  text-decoration: underline;
}

.nav-submenu li.active a {
  background-color: #fff;
  color: #555;
}
.nav-submenu li.active a::before {
  content:"> ";
}
.nav-submenu li.active a:hover {
  color: #777;
  background-color: #fff;
}

#templateName {
  margin-bottom: .5em;
}

#dockerEndpoint {
  margin-top: .4em;
}

.activity-description {
  font-size: 90%;
}
.activity-timestamp {
  font-size: 80%;
  display: block;
  font-weight: bold;
}
