body {
    padding-top:4em;
}
.page {
    padding:2em;
}
.tag {
    display:inline-block;
    padding:0.2em;
}

.container {
    padding:0.2em;
}

.alert {
    margin-left: 2em;
    margin-right: 2em;
}