<template name="applicationTemplates">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:4em;">
                <strong>Applications</strong>

                <div class="btn-group pull-right">
                    <button id="newApplicationTemplateDropdownToggle" type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="glyphicon glyphicon-plus"></span> New Application Template
                    </button>
                    <form id="newAppTemplate" role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                        <div class="form-group" style="width:35em">
                            <label>Application template name</label>
                            <input type="text" class="form-control" id="newApplicationTemplateName"
                                   placeholder="Enter application template name">
                        </div>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </form>
                </div>

            </div>
            <div class="panel-body row" style="padding-left:2em;">
                <div class="col-md-2">
                    {{> selectableList items=applicationTemplates sessionVar='selectedApplicationTemplateId'
                    removeItem=removeApplicationTemplate}}
                </div>
                <div class="col-md-10">
                    {{#with selectedApplicationTemplate}}
                    <input type="text" class="form-control" id="applicationName" value="{{name}}"/>
                    <input type="text" class="form-control" id="applicationImage" value="{{image_url}}" placeholder="Specify an image URL"/>
                    <div id="appDetails">
                        {{> applicationTemplateDetails}}
                    </div>
                    Last changed: {{lastChanged}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="applicationTemplateDetails">
    <label for="templates">Unit Templates</label>
    <input type="hidden" id="templates" value="{{toString unitTemplates}}"/>

    <div  class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus"></span> Start
        </button>
        <form id="newApp" role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
            <div class="form-group" style="width:35em">
                <input type="text" class="form-control" id="newApplicationName"
                       placeholder="Enter instance name">
            </div>
            <button type="submit" class="btn btn-primary">Ok</button>
        </form>
    </div>
</template>
