<template name="applications">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:4em;">
                <strong>Applications</strong>

                <div id="newAppDropdown" class="btn-group pull-right">
                    <button class="pull-right btn btn-default" id="addApplication"><span
                            class="glyphicon glyphicon-plus"></span>
                        New application
                    </button>
                </div>
            </div>
            <div class="panel-body row" style="padding-left:2em;">
                <div class="col-md-2">
                    {{> selectableList items=applications sessionVar='selectedApplicationId'
                    removeItem=removeApplication}}
                </div>
                <div class="col-md-10">
                    {{#with selectedApplication}}
                    <input type="text" class="form-control" id="applicationName" value="{{name}}"/>
                    {{> appDetails}}
                    {{/with}}
                    Last changed: {{lastChanged}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="appDetails">
    <input class="form-control" type="hidden" id="templates" value="{{toString templates}}"/>
</template>
