<template name="applications">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:4em;">
                <strong>Applications</strong>

                <div id="newAppDropdown" class="btn-group pull-right">
                    <button id="newApplicationDropdownToggle" type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="glyphicon glyphicon-plus"></span> New Application
                    </button>
                    <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                        <div class="form-group" style="width:35em">
                            <label>Application name</label>
                            <input type="text" class="form-control" id="newApplicationName"
                                   placeholder="Enter application name">
                        </div>
                        <button type="submit" id="addApplication" class="btn btn-primary">Ok</button>
                    </form>
                </div>
            </div>
            <div class="panel-body row" style="padding-left:2em;">
                <div class="col-md-2">
                    {{> selectableList items=applications sessionVar='selectedApplicationId'
                    removeItem=removeApplication}}
                </div>
                <div class="col-md-10">
                    {{#with selectedApplication}}
                    <input type="text" class="form-control" id="applicationName" value="{{name}}"/>
                    <input type="text" class="form-control" id="applicationImage" value="{{image_url}}" placeholder="Specify an image URL"/>
                    {{> appDetails}}
                    Last changed: {{lastChanged}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="appDetails">
    <label for="templates">Unit Templates</label>
    <input type="hidden" id="templates" value="{{toString templates}}"/>
</template>
