<template name="projects">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:4em;">
                <strong>Projects</strong>

                <div id="newProjectDropdown" class="btn-group pull-right">
                    <button id="newProjectDropdownToggle" type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="glyphicon glyphicon-plus"></span> New Project
                    </button>
                    <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                        <div class="form-group" style="width:35em">
                            <label>Project name</label>
                            <input type="text" class="form-control" id="newProjectName"
                                   placeholder="Enter project name">
                        </div>
                        <button type="submit" id="addProject" class="btn btn-primary">Ok</button>
                    </form>
                </div>
            </div>
            <div class="panel-body row" style="padding-left:2em;">
                <div class="list-group col-md-2" id="projects">
                    {{> selectableList items=projects sessionVar='selectedProjectId' removeItem=removeProject}}
                </div>
                <div class="col-md-10">
                    {{#with selectedProject}}
                        {{#each applications}}
                        app: {{name}} <br/>
                        {{/each}}

                        {{> projectDetails}}

                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="projectDetails">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"><input type="text" class="form-control" id="projectName" value="{{name}}"/></div>
        </div>
        <div class="row">
            <div class="col-md-8" id="projectApps">
                <p>Drag apps here...</p>
            </div>
            <div class="col-md-4">{{> appList ..}}</div>
        </div>
    </div>
    Last changed: {{lastChanged}}
</template>

<template name="appList">
    <ul class="app-list">
        {{#each applications}}
            {{> appItem}}
        {{/each}}
    </ul>
</template>

<template name="appItem">
    <li class="app-item">
        <img class="app-image" src="{{image_url}}" title="{{name}}" alt="{{name}}"/>
        <h3>{{name}}</h3>
  </li>
</template>
