<template name="containers">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Containers</strong>
                {{> filter sessionVar='containerFilter' placeholder='Type here to filter containers'}}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 1%;"></th>
                        <th style="width: 15%;">Status</th>
                        <th style="width: 39%;">Image</th>
                        <th style="width: 10%;">Names</th>
                        <th style="width: 15%;">Ports</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each containers}}
                    <tr>
                        {{#if isUp}}
                        <td class="success">&nbsp;</td>
                        {{else}}
                        <td class="danger">&nbsp;</td>
                        {{/if}}
                        <td>{{Status}}</td>
                        <td>{{Image}}</td>
                        <td>
                            {{#each Names}}
                            <div>{{this}}</div>
                            {{/each}}
                        </td>
                        <td>{{#each Ports}}
                            <div><a href="{{serviceProtocol}}://{{serviceHost}}:{{PublicPort}}" target="_blank">{{PublicPort}} -> {{PrivatePort}}</a></div>
                            {{/each}}
                        </td>
                        <td>
                            <div class="pull-right">
                                {{#if isUp}}
                                <button class="stopContainer btn btn-warning">stop</button>
                                {{else}}
                                <button class="startContainer btn btn-success">start</button>
                                <button class="removeContainer btn btn-danger">remove</button>
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

