<template name="layout">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header"><a class="navbar-brand" href="/">Dockerz</a></div>
        <ul class="nav navbar-nav">
            <li {{activeImages}}><a href="/images">Images</a></li>
            <li {{activeContainers}}><a href="/containers">Containers</a></li>
        </ul>
    </nav>

    {{>yield}}
</template>

<template name="home">
    <div class="page">Welcome to the amazing Dockrz!</div>
</template>

<template name="images">
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 90%;">Image tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each images}}
                <tr>
                    <td>
                        {{#each RepoTags}}
                        <div><span class="tag">{{this}}</span></div>
                        {{/each}}
                    </td>
                    <td>
                        <input class="createContainer" type="button" value="create" />
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</template>

<template name="containers">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Containers</strong></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 1%;"></th>
                        <th style="width: 30%;">Status</th>
                        <th style="width: 39%;">Image</th>
                        <th style="width: 10%;">Names</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each containers}}
                    <tr>
                        {{#if isUp}}
                        <td class="success">&nbsp;</td>
                        {{else}}
                        <td class="danger">&nbsp;</td>
                        {{/if}}
                        <td>{{Status}}</td>
                        <td>{{Image}}</td>
                        <td>
                            {{#each Names}}
                            <div>{{this}}</div>
                            {{/each}}
                        </td>
                        <td>
                            {{#if isUp}}
                            <input class="stopContainer" type="button" value="stop" />
                            {{else}}
                            <input class="startContainer" type="button" value="start" />
                            <input class="removeContainer" type="button" value="remove" />
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>