<template name="layout">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header"><a class="navbar-brand" style="padding:0 1em 0 1em" href="/"><img src="/logo-block.png" style="width:2.5em;"/></a></div>
        <ul class="nav navbar-nav">
            <li {{activeFleet}}><a href="/fleet">Fleet</a></li>
            <li {{activeRegistry}}><a href="/registry">Registry</a></li>
            <li {{activeImages}}><a href="/images">Images ({{numImages}})</a></li>
            <li {{activeContainers}}><a href="/containers">Containers ({{numContainers}})</a></li>
        </ul>
        <form class="navbar-form navbar-right" style="margin-right:1em;">
            {{#if docker.endpoints}}
            <select id="dockerEndpoint" class="form-control">
                {{#each docker.endpoints}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            {{/if}}
        </form>
    </nav>

    {{>yield}}
</template>

<template name="home">
    <div class="page">
        <img src="/logo.png" style="display:block; margin-left:auto; margin-right:auto; margin-top:15em;"/>
    </div>
</template>

<template name="registry">

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <div class="name"></div>
                    <div class="tag"></div>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Create container</button>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Images</strong></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:40em;">Name</th>
                        <th style="width:20em;">Tags</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each registry}}
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            <select class="form-control">
                                {{#each tags}}<option value="{{id}}">{{tag}}</option>{{/each}}
                            </select>
                        </td>
                        <td>

                            <div class="btn-group" style="float:left">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">...</button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#" class="newContainer" data-toggle="modal" data-target="#myModal" >New container</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Remove</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="fleet">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:4em;"><strong>Units</strong>
                <div class="btn-group" style="float:right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Submit new unit <strong class="caret"></strong></button>
                    <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em; width:50em;">
                        <div class="form-group">
                            <label>Unit name</label>
                            <input required type="text" class="form-control" id="unitName" placeholder="A unique name, i.e. kewl.service.">
                        </div>
                        <div class="form-group">
                            <label>Unit code</label>
                            <textarea required type="textarea" style="max-width: 100%; height:30em;" class="form-control" id="unitCode" placeholder="Systemd unit code."></textarea>
                        </div>
                        <button class="btn btn-primary" id="submitUnit">submit</button>
                    </form>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>Load</th>
                        <th>Active</th>
                        <th>Sub</th>
                        <th>Description</th>
                        <th>Machine</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each units}}
                    <tr>
                        <td>{{unit}}</td>
                        <td>{{load}}</td>
                        <td>{{active}}</td>
                        <td>{{sub}}</td>
                        <td>{{description}}</td>
                        <td>{{machine}}</td>
                        <td>
                            {{#if isActive}}
                            <input class="stopUnit" type="button" value="stop" />
                            {{else}}
                            <input class="startUnit" type="button" value="start" />
                            {{/if}}
                            <input class="destroyUnit" type="button" value="destroy" />
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Machines</strong></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>Meta</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each machines}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{ip}}</td>
                        <td>{{meta}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="images">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Images</strong></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tags</th>
                        <th>ID</th>
                        <th style="width:11em;"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each images}}
                    <tr>
                        <td>
                            {{#each RepoTags}}
                            <div><span class="tag">{{this}}</span></div>
                            {{/each}}
                        </td>
                        <td>
                            {{Id}}
                        </td>
                        <td>
                                <div class="btn-group" style="float:left">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">New container <strong class="caret"></strong></button>
                                    <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                                        <div class="form-group" style="width:30em">
                                            <label>Container name</label>
                                            <input required pattern="/?[a-zA-Z0-9_-]+" type="text" class="form-control containerName" placeholder="A unique name. Must match /?[a-zA-Z0-9_-]+.">
                                        </div>
                                        <button type="button" class="createContainer btn btn-primary">create</button>
                                    </form>
                                </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="containers">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Containers</strong></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 1%;"></th>
                        <th style="width: 15%;">Status</th>
                        <th style="width: 39%;">Image</th>
                        <th style="width: 10%;">Names</th>
                        <th style="width: 15%;">Ports</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each containers}}
                    <tr>
                        {{#if isUp}}
                        <td class="success">&nbsp;</td>
                        {{else}}
                        <td class="danger">&nbsp;</td>
                        {{/if}}
                        <td>{{Status}}</td>
                        <td>{{Image}}</td>
                        <td>
                            {{#each Names}}
                            <div>{{this}}</div>
                            {{/each}}
                        </td>
                        <td>{{#each Ports}}
                            <div>{{PublicPort}} -> {{PrivatePort}}</div>
                            {{/each}}
                        </td>
                        <td>
                            {{#if isUp}}
                            <input class="stopContainer" type="button" value="stop" />
                            {{else}}
                            <input class="startContainer" type="button" value="start" />
                            <input class="removeContainer" type="button" value="remove" />
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
