<template name="layout">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header"><a class="navbar-brand" style="padding:0 1em 0 1em" href="{{pathFor 'home'}}"><img src="/logo-block.png" style="width:2.5em;"/></a></div>
        <ul class="nav navbar-nav">
            <li {{activeFleet}}><a href="{{pathFor 'fleet'}}">Fleet</a></li>
            <li {{activeUnitTemplates}}><a href="{{pathFor 'unitTemplates'}}">Unit templates</a></li>
            <li {{activeRegistry}}><a href="{{pathFor 'registry'}}">Registry</a></li>
            <li {{activeImages}}><a href="{{pathFor 'images'}}">Images ({{numImages}})</a></li>
            <li {{activeContainers}}><a href="{{pathFor 'containers'}}">Containers ({{numContainers}})</a></li>
        </ul>
        <form class="navbar-form navbar-right" style="margin-right:1em;">
            {{#if docker.endpoints}}
            <select id="dockerEndpoint" class="form-control">
                {{#each docker.endpoints}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            {{/if}}
        </form>
    </nav>
    {{> flashMessages}}
    
    {{> yield}}
</template>