<template name="unitTemplates">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:4em;">
                <strong>Unit templates</strong>
                {{> newItemDropdown caption=" New Unit Template" placeholder="Enter unit template name"
                    label="Unit template name" onSubmit=addUnitTemplate}}
            </div>
            <div class="panel-body row" style="padding-left:2em;">
                    <div class=" col-md-2">
                        {{> selectableList items=templates sessionVar='selectedUnitTemplateId' removeItem=removeUnitTemplate}}
                    </div>
                    <div class="col-md-10">
                        {{#with selectedTemplate}}
                        <input type="text" class="form-control" id="templateName" value="{{name}}"/>
                        <textarea rows="20" class="form-control" id="templateCode">{{source}}</textarea>
                        Last changed: {{lastChanged}}
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
</template>